
##############################################################################################
##############################################################################################
[experiment]

	isLeftHanded = 0
	headIsRestricted = 0
	blockList = b1,b1,b1,b1
	drawStandingBox = 1
	minLaunchTriggerDuration = 0.3
	useFakePaddle = 0

##############################################################################################
##############################################################################################
[room]

	roomSize_WHL = 15,5,40
	
	#roomSize_WHL = 8,2.75,40 # similar to the sizeof our lab # +X 3.8,-X 4.2 = 789 # Height = 9 ft
	
	# if not translated, the room will be centered on 0,0
	# translation shifts only the walls/floor of the room, but no objects
	translateRoom_X = 0.95
	translateRoom_Z = 10

	# if headIsRestricted, then subject’s head must be in standing box to initiate a launch. 
	# The direction of the offset along X is deterimined by isLeftHanded so that all shots are forehand.
	
	# Arm Length + Racquet length (.55)
	standingBoxOffset_X = 1.1
	standingBoxSize_WHL = 0.3,5, 0.25

##############################################################################################
##############################################################################################	
[visObj]

# Note that these variables must be lists (include a comma) even with length=1

visObjVarNames = 'paddle',
visObjShapes = 'box',
visObjSizesString = '[0.04,0.24,0.47],' # LWH
#visObjSizesString = '[.3, 3, 3],' # LWH

#visObjVarNames = 'ball','paddle'
#visObjShapes = sphere,cylinder
#visObjSizesString = '[.03],[.03,.2]'


##############################################################################################
##############################################################################################
[blocks] #CHANGE TO BLOCK TYPES

	[[b1]]
		
		# Kinds of trial in this block
		trialTypesString = 't1,t2'
		
		# Num of each type of trial in listOfTrialTypes
		trialTypeCountString = '30,30'

		# Recalculate after these trials
		# 0 = before first trial. List can be of any length.
		recalAtString = '-2'

##############################################################################################
##############################################################################################
[trialTypes]

	[[t1]]
		
		## Ballcolor in RGB format
		ballColor_RGB = 1,0,0
		
		## Ball elasticity
		ballElasticity_distType = 'fixed'
		ballElasticity_distParams = .65
		
		bounceDist_distType = 'uniform'
		bounceDist_distParams = 2.8, 3.2

		bounceSpeed_distType = 'gaussianTruncated'
		bounceSpeed_distParams = -9.0,0.5,1.5

		launchHeight_distType = 'uniform'
		launchHeight_distParams = 1.5, 2

		launchDistance_distType = 'uniform'
		launchDistance_distParams = 17,19

		## Ball diameter
		ballDiameter_distType = 'fixed'
		ballDiameter_distParams = 0.05

		## The angle between the ball trajectory and the room’s X axis
		approachAngleDegs_distType = 'uniform'
		approachAngleDegs_distParams = -15,15
		
		## Passing location
		passingLoc_distType = 'uniform'
		passingLoc_distParams = 1.2,1.6

		
	[[t2]]
	
	
		## Ballcolor in RGB format
		ballColor_RGB = 0,0,1
		
		## Ball elasticity
		ballElasticity_distType = 'fixed'
		ballElasticity_distParams = .8

		bounceDist_distType = 'uniform'
		bounceDist_distParams = 2.8, 3.2

		bounceSpeed_distType = 'gaussianTruncated'
		bounceSpeed_distParams = -9.0,0,5,1.5

		launchHeight_distType = 'uniform'
		launchHeight_distParams = 1.5, 2.0

		launchDistance_distType = 'uniform'
		launchDistance_distParams = 17,19

		## Ball diameter
		ballDiameter_distType = 'fixed'
		ballDiameter_distParams = 0.05

		## The angle between the ball trajectory and the room’s X axis
		approachAngleDegs_distType = 'uniform'
		approachAngleDegs_distParams = -15,15
		
		## Passing location
		passingLoc_distType = 'uniform'
		passingLoc_distParams = 1.2,1.6